{% extends "HEP_system/sidebar.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% if selected_user %}
        <div class="media">
            <img class="rounded-circle account-img" src="{{ selected_user.person.profile_image.url }}">
            <div class="media-body">
            <h2 class="account-heading">{{ selected_user.username }}</h2>
                <p class="text-secondary">{{ selected_user.email }}</p>
                <p><strong>Designation:</strong> {{ selected_user.person.designation }}</p>
                <p><strong>Nationality:</strong> {{ selected_user.person.nationality }}</p>
                <p><strong>Country:</strong> {{ selected_user.person.country }}</p>
                <p><strong>Registration Date:</strong> {{ selected_user.person.reg_date }}</p>
                <p><strong>Registration Number:</strong> {{ selected_user.person.reg_no }}</p>
                <p><strong>Aadhaar Number:</strong> {{ selected_user.person.adhaar_no }}</p>
                <p><strong>Status:</strong> {{ selected_user.person.status|yesno:"Active,Inactive" }}</p>
                <p><strong>Firm:</strong> {{ selected_user.person.user_firm.name }}</p>
                <p><strong>Person Type:</strong> {{ selected_user.person.person_type }}</p>
            </div>
        </div>
      {% endif %}
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Person Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" 
                {% if selected_user %} name="update_person" {% else %} name="create_person" {% endif %}
                 type="submit">
                    {% if selected_user %}
                        Update Person
                    {% else %}
                        Create Person
                    {% endif %}
                </button>
            </div>
        </fieldset>
    </form>
    {% if selected_user %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Document Upload</legend>
            {{ pd_form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" name="upload_document" type="submit">Upload Document</button>
            </div>
        </fieldset>
    </form>
        <h2 class="mt-4">Your Documents</h2>
        <ul class="list-group">
            {% for document in documents %}
                <li class="list-group-item">
                    <strong>Proof Type:</strong> {{ document.proof_type }} <br>
                    <strong>Document Number:</strong> {{ document.id_proof_no }} <br>
                    <strong>Uploaded On:</strong> {{ document.upload_date }} <br>
                    <a class="btn btn-outline-primary" href="{{ document.document_attach.url }}">Download</a>
                </li>
            {% empty %}
                <li class="list-group-item">No documents uploaded yet.</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div>
{% endblock content %}