{% extends "HEP_system/sidebar.html" %}
{% block content %}
{% load custom_filters %}
<div class="row">
    <div class="col">
        <h2>{{ formatted_model_name|title }} List</h2>
    </div>
    <div class="col-6">
        <!-- You can add additional controls or filters here if needed -->
    </div>
    <div class="col">
        <a href="{% url 'app-dynamic-model-creation' app_name model_name %}">
            <button type="button" class="btn btn-primary">Add New {{ formatted_model_name|title }}</button>
        </a>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <form method="get" class="row">
            {% for field in filter_options.date_fields %}
                <div class="col-2 mb-3">
                    <label class="form-label">From {{ field|title }}</label>
                    <input type="date" name="{{ field }}_from" class="form-control" 
                            value="{{ request.GET|get_item:field|add:'_from' }}">
                    <label class="form-label">To {{ field|title }}</label>
                    <input type="date" name="{{ field }}_to" class="form-control" 
                            value="{{ request.GET|get_item:field|add:'_to' }}">
                </div>
            {% endfor %}

            {% for field in filter_options.text_fields %}
                <div class="col-2 mb-3 mt-3">
                    <input type="text" name="{{ field }}" class="form-control" 
                            placeholder="{{ field|title }}" 
                            value="{{ request.GET|get_item:field }}">
                </div>
            {% endfor %}

            {% for field, choices in filter_options.choice_fields %}
                <div class="col-2 mb-3">
                    <select name="{{ field }}" class="form-select">
                        <option value="">Select {{ field|title }}</option>
                        {% for choice in choices %}
                            <option value="{{ choice.0 }}" 
                                {% if request.GET|get_item:field == choice.0 %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}

            {% for field, related_choices in filter_options.foreign_key_fields.items %}
                <div class="col-2 mb-3">
                    <select name="{{ field }}" class="custom-select">
                        <option value="">Select {{ field|title }}</option>
                        {% for choice in related_choices %}
                            <option value="{{ choice.0 }}" 
                                {% if request.GET|get_item:field == choice.0 %}selected{% endif %}>
                                {{ choice.1 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}

            <div class="col-2 mb-3">
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </form> 
    </div>
</div>
<br>
<div class="card mt-3 mb-3">
    <table class="table">
        <thead>
            <tr>
                <th>S.No</th>
                {% for field in fields %}
                    <th>{{ field.verbose_name|title }}</th>
                {% endfor %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
            
            <tr>
                <td>{{ forloop.counter|multiply_filter:current_page }}</td>
                {% for field in fields %}
                    {% if field.name != 'status' %}
                    
                        <td>{{object|display_related:field}}</td>
                    {% else %}
                        <td><span class="badge rounded-pill text-bg-success">{{object|display_related:field}}</span></td>
                    {% endif %}
                    
                {% endfor %}
                <td>
                    <a href="{% url 'app-dynamic-model-creation' app_name model_name object.id %}" class="btn btn-secondary">Edit</a>
                    <!-- <a href="#">Delete</a> -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="mb-3">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for i in total_pages_range %}
                {% if i != current_page and i < current_page|sub:2 and i == 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">First</a></li>
                {% endif %}
                {% if i < current_page|add:3 and i > current_page|sub:3 %}
                    <li class="page-item {% if i == current_page %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{i}}</a></li>
                {% endif %}
                {% if i != current_page and i > current_page|add:2 and i == total_pages %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">Last</a></li>
                {% endif %}
            {% endfor %}
          
        </ul>
      </nav>
</div>

{% endblock %}
